html,
body {
    height: 100%;
    margin: 0 !important;

}

h3 {
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    border-color: #C6B298 !important;
    margin-left: 100px;
}

.fa-navicon {
    font-size: 30px !important;
    padding: 3px;
    color: #C6B298 !important;

}

.navbar {
    color: #C6B298 !important;
    background-color: #363237 !important;
}

.navbar-brand {
    color: #C6B298 !important;

}

.nav-link {
    color: #C6B298 !important;
}

.nav-link:hover {
    color: #5D535E !important;
}

.fa-shopping-cart {
    color: #C6B298 !important;
    font-size: 24px !important;
    padding: .5rem 1rem;
}

.fa-shopping-cart:hover {
    color: #5D535E !important;
}

.fa-globe {
    color: #C6B298 !important;
    font-size: 24px !important;
    padding: .5rem 1rem;
}

.fa-globe:hover {
    color: #5D535E !important;
}

.kuvateksti {
    color: #F1F1F2 !important;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.kuvateksti2 {
    color: white !important;
    font-size: 2rem !important;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.sivulta {
    -webkit-animation: tekstisivulta 1.3s;
    -webkit-animation-fill-mode: forwards;
    animation: tekstisivulta 1.3s;
    animation-fill-mode: forwards;
    position: absolute;
}


@-webkit-keyframes tekstisivulta {
    from {
        opacity: 0;
        left: -500px;
    }
    to {
        opacity: 1;
        left: 0px;

    }
}

@keyframes tekstisivulta {
    from {
        opacity: 0;
        left: -500px;
    }
    to {
        opacity: 1;
        left: 0px;

    }
}

.kokonaytto {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.kokonaytto-sisalto {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.kokonaytto a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.kokonaytto a:hover,
.kokonaytto a:focus {
    color: #f1f1f1;
}

.kokonaytto .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#slideshow > div {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------------------------------------------------------------*/

/*EKA-OSIO*/

/*---------------------------------------------------------------------------*/

.section1 {
    margin: auto;
    padding: 0 0 15px;
    width: 100%;
    height: 100%;
}

.section1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    margin: 0 0 10px;
}

/*---------------------------------------------------------------------------*/

/*TOKA-OSIO*/

/*---------------------------------------------------------------------------*/

.kategoriat {
    text-align: center;
    color: #C6B298;
    margin-top: 50px;
    margin-bottom: 50px;
}



.kategoriakuvat img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.kohdennus {
    position: relative;

    border-radius: 20px;
    margin: 2%;
    overflow: hidden;
}

.kohdennus img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.kohdennus:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);


}

.section2 {
    height: auto;
    padding: 15px;
    background-color: #EEEEEE;
    padding-bottom: 100px;

}

/*---------------------------------------------------------------------------*/

/*KOLMAS-OSIO*/

/*---------------------------------------------------------------------------*/

.section3 {
    height: auto;
    padding: 15px;
    padding-bottom: 100px;

}

.alaotsikko {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: inherit !important;
}

.alaotsikko2 {
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: inherit !important;
}

.italicalaotsikko {
    margin-left: 125px;
    margin-bottom: 50px;
}


.viikkotyyli {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testausta {
    position: relative;
}

.viikkotyyli img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 448px;
    height: auto;
}

.viikkotyyli:hover .ylosvetolaatikko {
    top: 80%;
}

.viikkotyyli:hover .laatikonsisalto {
    display: block;
}

.laatikonsisalto {
    display: none;
}

.tuoteteksti {
    font-weight: 500;
    line-height: 15px;
}

.linkki {
    text-decoration-line: none !important;
    color: #C6B298 !important;
}

.linkki:hover {
    color: #5D535E !important;
}

.nappula:hover {
    color: #5D535E !important;
}

.nappula {
    padding: 10px;
    background-color: #363237 !important;
    float: right;
}

.ylosvetolaatikko {
    position: absolute;
    top: 95%;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    background-color: white;

}

.laatikonsisalto-mobiili {
    display: block;


}

.ylosvetolaatikko-mobiili {
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.6);

}



.nappula-mobiili {
    padding: 10px;
    background-color: #363237 !important;
    position: absolute !important;
    right: 20%;
    top: 0;
}

.tuoteotsikko-mobiili {
    color: #fff;
    margin-left: 10px;
}

.tuoteteksti-mobiili {
    color: #fff;
    font-weight: 500;
    line-height: 15px;
    margin-left: 10px;
    ;
}

/*---------------------------------------------------------------------------*/

/*NELJÄS-OSIO*/

/*---------------------------------------------------------------------------*/

.section4 {
    height: auto;
    background-color: #F1F1F2;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

.kausi img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*---------------------------------------------------------------------------*/

/*VIIDES-OSIO*/

/*---------------------------------------------------------------------------*/

.section5 {
    height: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.vinkit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.vinkit img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    height: 740px;
    object-fit: cover;

}

/*---------------------------------------------------------------------------*/

/*KUUDES-OSIO*/

/*---------------------------------------------------------------------------*/

.section6 {
    height: auto;
    background-color: #363237;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.footteri {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #C6B298 !important;
    line-height: 10px;
    padding: 40px 0px 40px 0px;
}

.footterikaupat {
    color: white;
}

.fa-youtube {
    background: #C6B298;
    color: #363237 !important;
    padding: 10px 12px 10px 12px !important;
    font-size: 30px !important;
    text-align: center !important;
    text-decoration: none;
    margin: 10px !important;
    border-radius: 50% !important;

}

.fa-facebook {
    background: #C6B298;
    color: #363237 !important;
    padding: 10px 16px 10px 16px !important;
    font-size: 30px !important;
    text-align: center !important;
    text-decoration: none;
    margin: 10px !important;
    border-radius: 50% !important;
}

.fa-instagram {
    background: #C6B298;
    color: #363237 !important;
    padding: 10px 12px 10px 12px !important;
    font-size: 30px !important;
    text-align: center !important;
    text-decoration: none;
    margin: 10px !important;
    border-radius: 50% !important;
}

.fa-youtube:hover {
    color: #C6B298 !important;
    background: #5D535E !important;
}

.fa-facebook:hover {
    color: #C6B298 !important;
    background: #5D535E !important;
}

.fa-instagram:hover {
    color: #C6B298 !important;
    background: #5D535E !important;
}

.flexsuunta {
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {

    .kuvateksti {
        font-size: 1rem !important;
    }

    .kuvateksti h1 {
        font-size: 1.5rem !important;
    }
    .alaotsikko {
        margin-left: 25px;

    }

    .alaotsikko2 {
        margin-left: 45px;

    }

    .italicalaotsikko {
        margin-left: 65px;
    }

    .kausi img {
        height: 150px;
    }
}


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
