html,
body {
    height: 100%;

    margin: 0 !important;

}

.navbar {
    color: #C6B298 !important;
    background-color: #363237 !important;
}

.navbar-brand {
    color: #C6B298 !important;

}

.nav-link {
    color: #C6B298 !important;
}

.fa {
    color: #C6B298 !important;
    font-size: 24px !important;
    padding: .5rem 1rem;
}

.kokonaytto {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.kokonaytto-sisalto {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.kokonaytto a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.kokonaytto a:hover,
.kokonaytto a:focus {
    color: #f1f1f1;
}

.kokonaytto .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#slideshow > div {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 {
    margin: auto;
    padding: 0 0 15px;
    width: 100%;
    height: 100%;
}

.section1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    margin: 0 0 10px;
}

.kategoriat {
    text-align: center;
    color: #C6B298;
    margin-top: 50px;
    margin-bottom: 100px;
}

.kategoriakuvat img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section2 {
    height: auto;
    padding: 15px;
    background-color: #EEEEEE;
}

.section3 {
    height: auto;
    padding: 15px;


}

.alaotsikko {
    margin-left: 50px;
    margin-bottom: inherit !important;
}

.alaotsikko2 {
    margin-left: 90px;
    margin-bottom: inherit !important;
}

.italicalaotsikko {
    margin-left: 125px;
}


.viikontyyli img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}


.section4 {
    height: auto;
    background-color: #F1F1F2;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.kausi img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.section5 {
    height: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.vinkit img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

    height: 740px;
    object-fit: cover;
}

.section6 {
    height: 1000px;
    background-color: #363237;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    .alaotsikko {
        margin-left: 25px;

    }

    .alaotsikko2 {
        margin-left: 45px;

    }

    .italicalaotsikko {
        margin-left: 65px;
    }
}

.kausi img {
    height: 150px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
